.parentdiv {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    font-family: Optima;
}

a {
    color: pink;
    text-decoration: none;

}

.home-title {
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about {
    width: 30%;
    margin-right: 30px;
}

.me-image{
    width: 30%;
    margin-left: 30px;
    height: auto;
    object-fit: contain;
}

.square-image {
    width: 300px;
}


.art-title {
    text-align: center;
}

.art-medium {
    text-align: center;
}

.art-size {
    text-align: center;
}

.art-year {
    text-align: center;
}

.art-piece {
    margin: 50px;
    margin-top: 0px;
}

.menu {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.menu-item {
    margin-left: 15px;
    margin-right: 15px;
}